	<div class="container">
            <div class="row first-row">
                
                <div class="col-md-12" >
                	<h1><span class="cond">LATIN</span><span class="bold">X</span></h1>
                	<h3> SI/NO </h3>
                	<h2> </h2>
                	<img src="logo.png">
                    <h2> Hola, Queremos formar la opinion de  lo que significa <span class="cond">LATIN</span><span class="bold">X</span></h2>
                    <h2>Con tus respuestas podemos ir generando una identidad colectiva entre todos los estamos aqui.</h2>
                    
                    <h2 class="btn wow bounceInUp"> <a href="" ng-click="startGame()" > Comenzar </a> </h2>
                </div>

            </div>
                
</div>
<!-- Large modal -->
<button type="button" class="btn"  data-toggle="modal" data-target=".bs-example-modal-lg"> ¿Quienes trabajamos en esto?</button>


