<div class="container">
            <div class=" row first-row">
              <div class="col-xs-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-12">
                   
                    <h5> <strong> {{currentCheck['Expositor/a']}}  </strong> 
                      <small> dijo que:</small>  </h5>
                    <h4 class="wow slideInRight"> "{{currentCheck.Dato}}" </h4>
                <div class="row">
                  
                   <div class="col-md-12  wow slideInRight" data-wow-delay="3s" >
                    <div class="row">
                       <div class="col-xs-12 col-md-3">
                          <div class="btn wow slideInRight" data-wow-delay="3.2s" ng-click="responder('Verdadero')">
                            <div class="row">
                              <div class="col-xs-2">
                                <img src="images/iconos/verdadero.svg"/>    
                              </div>
                              <div class="col-xs-10">
                                <p>Verdadero</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                          <div class="btn wow slideInRight" data-wow-delay="3.3s" ng-click="responder('Falso')">
                            <div class="row">
                              <div class="col-xs-2">
                                <img src="images/iconos/falso.svg"/>    
                              </div>
                              <div class="col-xs-10">
                                <p>Falso</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                          <div class="btn wow slideInRight" data-wow-delay="3.4s" ng-click="responder('No Chequeable')">
                            <div class="row">
                              <div class="col-xs-2">
                                <img src="images/iconos/nochequeable.svg"/>    
                              </div>
                              <div class="col-xs-10">
                                <p>No Chequeable</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                          <div class="btn wow slideInRight" data-wow-delay="3.5s" ng-click="responder('Dudoso')">
                            <div class="row">
                              <div class="col-xs-2">
                                <img src="images/iconos/dudoso.svg"/>    
                              </div>
                              <div class="col-xs-10">
                                <p>Dudoso</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                       </div>
                     </div>
                   </div>
                </div>
                      
            
            </div>
          </div>
        </div>
   </div>


